<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="./icon/icon.png" type="image/x-icon" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <title><%= title%></title>
        <link rel="stylesheet" href="<%= origin%>/css/profile.css" />
    </head>
    <body>
        <body>
            <header>
                <h1>John Doe</h1>
                <p>Web Developer</p>
            </header>
            <div class="container">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-picture" />
                <div class="profile-info">
                    <h1>John Doe</h1>
                    <p>Web Developer</p>
                    <p>Email: john@example.com</p>
                    <p>Location: New York, USA</p>
                </div>
                <div class="about">
                    <h2>About Me</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra libero ut facilisis
                        facilisis. Nullam eu dui nunc. Vestibulum consectetur tincidunt sem, nec aliquam neque pulvinar
                        non.
                    </p>
                </div>
            </div>
            <footer>
                <p>&copy; 2023 John Doe. All rights reserved.</p>
            </footer>
        </body>
    </body>
</html>
