<div class="join" style="display: flex; justify-content: center; padding: 10px">
    <div class="card" style="width: 25rem; padding: 10px">
        <div class="card-header">
            <%= title%>
        </div>
        <div class="card-body" id="form">
            <form class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="john smith" autocomplete="off"
                        required />
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" autocomplete="off" placeholder="john@gmail.com"
                        required />
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="********" autocomplete="off"
                        required />
                </div>

                <div class="d-grid gap-3">
                    <button class="btn btn-sm btn-success" id="signIn" type="button" onclick="login()">
                        sign in
                    </button>
                    <button class="btn btn-sm btn-primary" type="button" onclick="signUpForm()">sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="<%= siteUrl%>/public/js/index.js"></script>